* {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  margin-left: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.cards {
  width: 250px;
  padding: 20px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img {
  width: 150px;
  height: 200px;
}

.image_box img {
  width: 150px;
  height: 200px;
}
.details p:nth-child(1) {
  font-weight: bolder;
}
.details p:nth-child(2) {
  color: rgb(51, 150, 59);
  font-size: 1.3rem;
  
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: rgb(21, 22, 23);
  font-weight: bold;

}
.details button {
  padding: 11px 42px;
  border: none;
  font-weight: bold;
  background: rgb(45, 173, 75);
  transition: all .5s;
  background-color: rgb(109, 157, 219);
  outline: none;
  cursor: pointer;
}
